**/__pycache__/
.*
data/
fastText/
site/
docs/
!.gitignore
!.flake8
!.pre-commit-config.yaml
!.github

# FreeLing
FreeLing*
_pyfreeling.so
pyfreeling.py

# Large files
*.gender_dict
*.src
*.db
*.tar.gz
*.vert
*.vert.xz

# Secrets
*.secret.yml
