**/__pycache__/
.*
data/
fastText/
site/
docs/
!.gitignore
!.flake8
!.pre-commit-config.yaml
!.github

# FreeLing
_pyfreeling.so
pyfreeling.py

# Large files
sketchengine/estenten18_fl5_term_ref.gender_dict
sketchengine/dicc_v6.src
